@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500;600;700;800&display=swap');

.normal-header {
    padding: 10px 20px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-shadow: 0 0 15px rgb(0 0 0 / 50%); 
    margin-bottom: 60px;
    font-family: 'Poppins', sans-serif;
  }

  ul {
    padding: 0px;
    width: 80%;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;    
  }

  h2{
    width: 100%;
    letter-spacing: 10px;
    color: #4650DD;
    margin: 0;
    text-align: center;
  }

 





