.preview-cointainer {
    margin: auto;
    width: 30%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 50px;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    color: #292C30;
    box-shadow: 10px 14px 20px -3px rgba(176,176,176,0.72);
    background-color: #F8F9FA;
    transition: all 0.3s ease-in-out;
}
.preview-cointainer p {
    font-size: 50px;
    font-weight: 200;
    margin: 20px 0;
    color: rgb(151, 155, 160);
}

.preview-cointainer button {
    padding: 10px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    width: 35%;
    background-color: #4650DD;
    color: #FFFFFF;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 3px;
    margin: 25px 0px 35px 0px;
    transition: all 0.2s ease-in-out;

}

.preview-cointainer button:hover {
    background-color: #3b43bb;

}

a {
    text-decoration: none;
    color: #FFFFFF;
}

@media (max-width: 769px){
    .preview-cointainer{
        width: 80%;
    }

    .preview-cointainer  h1 {
        font-size: 25px;
    }
    .preview-cointainer button {
        width: 45%;
    }

}
